.container{
    margin: 0;
    padding: 0;
    background-image: url("kg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: 5px slategray;
    height: 100vh;
    width: 200vh;
    z-index: -1;
}
